<header class="page-header m-personal">
	<div class="container">
		<div class="page-header__wrap">
            <div class="page-header__person">
                <div class="p-person">
                    <div class="p-person__icon">
                        <img src="img/svg/icon.svg" alt="">
                    </div>
                    <div class="p-person__txt">
                        Антон Знаменский
                    </div>
                </div>
                <div class="p-person__links">
                    <a href="#" class="person-ring"></a>
                    <a href="#" class="person-settings"></a>
                </div>
            </div>
            <div class="page-header__view">
                <div class="page-header__info">
                    Личный кабинет
                </div>
                <div class="page-header__img">
                    <img src="img/content/head-logo.png" alt="">
                </div>
            </div>
		</div>
	</div>
</header>