<header class="page-header m-reg">
	<div class="container">
		<div class="page-header__wrap">
			<div class="page-header__info">
				Личный кабинет
			</div>
			<div class="page-header__img">
				<div class="logo-view">
					<a href="#" class="logo-view__item">
						<img src="img/content/logo1-min.png" alt="">
					</a>
					<a href="#" class="logo-view__item">
						<img src="img/content/logo2-min.png" alt="">
					</a>
					<a href="#" class="logo-view__item">
						<img src="img/content/logo3-min.png" alt="">
					</a>
					<a href="#" class="logo-view__item">
						<img src="img/content/logo4-min.png" alt="">
					</a>
				</div>
			</div>
		</div>
	</div>
</header>