<header class="page-header m-reg">
	<div class="container">
		<div class="page-header__wrap">
			<div class="page-header__info">
				Личный кабинет
			</div>
			<div class="page-header__img">
				<div class="logo-view">
					<a href="https://ostrov-shop.by/" class="logo-view__item">
						<img src="img/content/ostrov-min.png" alt="">
					</a>
					<a href="https://trilosya.by/" class="logo-view__item">
						<img src="img/content/three-min.png" alt="">
					</a>
					<a href="https://ostrovzdorovya.by/" class="logo-view__item">
						<img src="img/content/ostrov2-min.png" alt="">
					</a>
				</div>
			</div>
		</div>
	</div>
</header>