<div class="personal__aside">
    <div class="personal__list">
        <div class="personal__item active"><a href="#">Личные данные</a></div>
        <div class="personal__item"><a href="#">Дисконтная карта
        </a></div>
        <div class="personal__item"><a href="#">Рекламная игра</a></div>
        <div class="personal__item"><a href="#">Социальная программа
        </a></div>
        <div class="personal__item"><a href="#">Адреса доставок</a></div>
        <div class="personal__item"><a href="#">История покупок</a></div>
        <div class="personal__item"><a href="#">Изменить пароль
        </a></div>
    </div>
    <div class="back-wrap">
        <a href="#" class="personal-back">Вернуться в магазин</a>
    </div>
</div>