/*FONT-FAMILY*/
//$default-font:'tt_normsregular', Arial, sans-serif;
$default-font: 'Montserrat', sans-serif;

/*FONT-SIZE*/
$default-size-font: 15px;

/*BACKGROUND*/
$default-site-bg: #130B3D;
$alt-site-bg: #7A1774;

//$default-bg: #eeeeee;

/*TEXT-COLOR*/
$base-color: #333;

$alt-color: #026AB5;